body {
	background-color: #FFFAFA;
	margin-top: 25px;
	width: 50%;
	margin-left: 25%;
}

a:link,a:visited {
    color: #0000A0;
}
a:hover {
    background-color: #0000FF;
    color: #FFFFFF;
    text-decoration: none;
}

#lorem {
	
}

#random {

}